@import 'normalize';

$main-text-color: #fff;
$button-background: rgba(255, 255, 255, 0.12);
$footer-border: #4d5362;
$footer-secondary: #c3c3c3;
$footer-background: #595f6f;
$breakpoint-mobile: 1000px;

@font-face {
  font-family: 'HighTide';
  src: url('fonts/HighTide.ttf');
}

@font-face {
  font-family: 'OpenSans-CondencedLight';
  src: url('fonts/OpenSans-CondLight.ttf');
}

@font-face {
  font-family: 'OdinRounded-Regular';
  src: url('fonts/Odin Rounded - Regular.ttf');
}

@font-face {
  font-family: 'DymaxionScript';
  font-style: normal;
  font-weight: normal;
  src: local('DymaxionScript'), url('fonts/DYMAXION.ttf') format('ttf');
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('fonts/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-CondBold';
  src: url('fonts/OpenSans-CondBold.ttf');
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url('fonts/OpenSans-LightItalic.ttf');
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: $footer-background;
  overflow-x: hidden;

  .wrapper {
    flex: 1 0 auto;
  }

  .footer {
    flex-shrink: 0;
  }
}

.container {
  position: relative;
  display: flex;
  width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 87px;
  background: rgba(255, 255, 255, 0.1);

  @media (max-width: $breakpoint-mobile) {
    height: 70px;
  }

  .menu-pic {
    display: none;
    width: 17px;
    height: 16px;
    margin: {
      top: 27px;
      left: 15px;
    }

    background: url('../images/menu.png') contain no-repeat;

    @media (max-width: $breakpoint-mobile) {
      display: inline-block;
    }
  }

  .logo {
    margin: 17px 0 0 43px;
    color: $main-text-color;
    font: 42px/31px 'OdinRounded-Regular', sans-serif;
    opacity: 1;

    &-link {
      color: $main-text-color;
      text-decoration: none;
    }

    .dot {
      font-size: 84px;

      @media (max-width: $breakpoint-mobile) {
        font-size: 51px;
        line-height: 8px;
      }
    }

    @media (max-width: $breakpoint-mobile) {
      margin: {
        top: 22px;
        left: 6px;
      }

      font-size: 25px;
      line-height: 8px;
    }
  }

  .search {
    width: 0;
    height: 54px;
    padding-left: 10px;
    border: none;
    margin: {
      top: 17px;
      right: 5px;
      left: auto;
    }

    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: $main-text-color;
    opacity: 0;
    outline: 0;
    text-align: left;
    transition: all 0.3s ease-in;

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
      font: 15px 'OpenSans-LightItalic', sans-serif;
    }

    @media (max-width: $breakpoint-mobile) {
      height: 30px;
    }

    &.active {
      width: 226px;
      height: 54px;
      opacity: 1;

      @media (max-width: $breakpoint-mobile) {
        width: 150px;
        height: 30px;
        margin-top: 21px;
      }
    }
  }

  .search-icon {
    width: 31px;
    height: 32px;
    margin-top: 31px;
    margin-right: 40px;
    background: url('../images/search.png') no-repeat;
    cursor: pointer;
    transform: scale(0.95);
    transition: all 0.1s ease-in-out;

    &:hover {
      transform: scale(1);
    }

    &:active {
      transform: translateY(1px);
    }

    @media (max-width: $breakpoint-mobile) {
      width: 18px;
      height: 17px;
      margin: {
        top: 26px;
        right: 15px;
      }

      background-size: contain;
    }
  }
}

.content {
  display: flex;
  height: 900px;

  @media (max-width: $breakpoint-mobile) {
    height: auto;
  }

  .container {
    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
      align-content: center;
    }
  }

  .bg-image-container {
    position: absolute;
    left: 0;
    display: flex;
    width: 100%;
    height: 900px;
    background: black;

    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
    }

    .bg-hisper {
      position: relative;
      overflow: hidden;
      flex: 1;

      @media (max-width: $breakpoint-mobile) {
        height: 334px;
        flex: none;
      }

      &-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.02);
      }

      &-gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(65, 177, 176, 0.7), rgba(25, 64, 174, 0.7));
      }
    }

    .bg-hippie {
      position: relative;
      overflow: hidden;
      flex: 1;

      @media (max-width: $breakpoint-mobile) {
        height: 334px;
        flex: none;
      }

      &-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.02);
      }

      &-gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(225, 146, 255, 0.7), rgba(126, 49, 192, 0.7));
      }
    }
  }

  .hisper {
    position: relative;
    height: 100%;
    flex: 1;
    color: $main-text-color;
    text-align: center;

    @media (max-width: $breakpoint-mobile) {
      height: 334px;
      flex: none;
    }

    &-header {
      position: relative;
      margin-top: 327px;
      margin-bottom: 0;
      margin-left: -32px;
      font: normal 300 75px/0.45 'HighTide', sans-serif;
      text-transform: uppercase;

      @media (max-width: $breakpoint-mobile) {
        margin: {
          top: 123px;
          left: -6px;
        }

        font-size: 40px;
        line-height: 30px;
      }
    }

    &-secondary {
      position: relative;
      margin-top: 29px;
      margin-left: -31px;
      font: 300 50px 'OpenSans-CondencedLight', sans-serif;

      @media (max-width: $breakpoint-mobile) {
        font-size: 27px;
        line-height: 30px;
        margin: {
          top: 11px;
          left: -6px;
        }
      }
    }

    .btn {
      position: relative;
      width: 226px;
      height: 70px;
      padding: 0;
      border: none;
      background: $button-background;
      border-radius: 10px;
      color: $main-text-color;
      font: 25px 'OpenSans-CondencedLight', sans-serif;
      margin: {
        top: 8px;
        left: -32px;
      }

      outline: 0;
      transition: background 0.3s ease-in, transform 0.1s ease-in-out;

      @media (max-width: $breakpoint-mobile) {
        width: 179px;
        height: 55px;
        border-radius: 5px;
        font-size: 20px/36px;
        margin: {
          top: -9px;
          left: 2px;
        }
      }

      &:hover {
        background: rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }

      &:active {
        background: rgba(0, 0, 0, 0.3);
        transform: translateY(1px);
      }
    }
  }

  .hippie {
    position: relative;
    height: 100%;
    flex: 1;
    color: $main-text-color;
    text-align: center;

    @media (max-width: $breakpoint-mobile) {
      height: 334px;
      flex: none;
    }

    &-header {
      position: relative;
      margin-top: 325px;
      margin-bottom: 0;
      margin-left: -8px;
      font: normal 75px/0.45 'DymaxionScript', sans-serif;
      text-transform: capitalize;

      @media (max-width: $breakpoint-mobile) {
        margin-top: 91px;
        font-size: 40px;
        line-height: 30px;
      }
    }

    &-secondary {
      position: relative;
      margin-top: 19px;
      margin-left: -8px;
      font: 300 50px 'OpenSans-CondencedLight', sans-serif;

      @media (max-width: $breakpoint-mobile) {
        margin-top: 4px;
        font-size: 27px;
        line-height: 30px;
      }
    }

    .btn {
      position: relative;
      width: 226px;
      height: 70px;
      padding: 0;
      border: none;
      background: $button-background;
      border-radius: 10px;
      color: $main-text-color;
      font: 25px 'OpenSans-CondencedLight', sans-serif;
      margin: {
        top: 20px;
        left: 19px;
      }

      outline: 0;
      transition: background 0.3s ease-in, transform 0.1s ease-in-out;

      @media (max-width: $breakpoint-mobile) {
        width: 179px;
        height: 55px;
        font-size: 20px/36px;
        margin: {
          top: -2px;
          left: 2px;
        }
      }

      &:hover {
        background: rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }

      &:active {
        background: rgba(0, 0, 0, 0.3);
        transform: translateY(1px);
      }
    }
  }
}

.footer {
  display: flex;
  height: 284px;
  border-bottom: 1px solid $main-text-color;
  background: $footer-background;

  @media (max-width: $breakpoint-mobile) {
    height: auto;
    text-align: center;
  }

  .container {
    padding: 54px 41px 34px;

    @media (max-width: $breakpoint-mobile) {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      padding: 32px 34px 45px;
      background: $footer-background;
    }
  }

  .copyright {
    flex: 1;
    border-right: 1px solid $footer-border;

    @media (max-width: $breakpoint-mobile) {
      display: flex;
      width: 100%;
      flex: none;
      justify-content: center;
      padding-bottom: 17px;
      border: none;
      border-bottom: 1px solid $footer-border;
      margin-top: 22px;
    }

    .text-block {
      max-width: 425px;

      &-header {
        display: block;
        color: $main-text-color;
        font: normal 29px 'OdinRounded-Regular', sans-serif;
        text-decoration: none;
        margin: {
          top: -31px;
          bottom: 0;
        }

        @media (max-width: $breakpoint-mobile) {
          font-size: 27px;
          line-height: 20px;
        }

        .dot {
          font-size: 57px;

          @media (max-width: $breakpoint-mobile) {
            font-size: 54px;
            line-height: 20px;
          }
        }
      }

      .payment {
        margin-top: 15px;
        color: $footer-secondary;
        font: 18px/25px 'OpenSans-SemiBold', sans-serif;
        text-transform: uppercase;

        @media (max-width: $breakpoint-mobile) {
          margin-top: 25px;
          font-size: 16px;
          line-height: 23px;
        }
      }

      .free-shipping {
        display: inline-block;
        padding-bottom: 3px;
        border-bottom: 1px solid $footer-secondary;
        margin-top: 10px;
        color: $footer-secondary;
        font: 18px 'OpenSans-Regular', sans-serif;
        text-decoration: none;
        transition: 0.3s color ease-in;

        @media (max-width: $breakpoint-mobile) {
          padding-bottom: 0;
          margin-top: 8px;
          font-size: 16px;
          line-height: 23px;
        }

        &:hover {
          color: $main-text-color;
        }
      }

      .sign {
        margin-top: 51px;
        color: $main-text-color;
        font: 18px 'OpenSans-CondBold', sans-serif;
        text-transform: uppercase;

        @media (max-width: $breakpoint-mobile) {
          margin-top: 46px;
          font-size: 16px;
          line-height: 23px;
        }
      }
    }
  }

  .wrap {
    display: flex;
    flex: 1;

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
      flex-direction: column;
      align-content: center;
    }

    .nav {
      display: flex;
      flex-basis: 406px;
      flex-shrink: 1;
      align-items: center;
      justify-content: space-evenly;
      border-right: 1px solid $footer-border;
      text-transform: uppercase;

      @media (max-width: $breakpoint-mobile) {
        flex-basis: 302px;
        flex-direction: column;
        justify-content: flex-start;
        border: none;
        border-bottom: 1px solid $footer-border;
        margin: {
          top: 28px;
          left: -7px;
        }
      }

      .link {
        display: block;
        color: $footer-secondary;
        font: 18px 'OpenSans-Light', sans-serif;
        text-decoration: none;
        transition: color 0.3s ease-in;

        @media (max-width: $breakpoint-mobile) {
          font-size: 18px;
          line-height: 44px;
          margin: {
            top: 0;
            bottom: 0;
          }
        }

        &:hover {
          color: $main-text-color;
        }
        margin: {
          top: 13px;
          bottom: 16px;
        }
      }
    }

    .newsletter {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;

      @media (max-width: $breakpoint-mobile) {
        flex-basis: 246px;
      }

      &-header {
        color: $main-text-color;
        font: normal 18px 'OpenSans-CondencedLight', sans-serif;
        text-align: center;
        text-transform: uppercase;
        margin: {
          top: 23px;
          bottom: 0;
          left: 33px;
        }

        @media (max-width: $breakpoint-mobile) {
          margin: {
            top: 40px;
            left: -12px;
          }
        }
      }

      .email {
        width: 226px;
        height: 54px;
        padding-left: 10px;
        border: 0;
        background: rgba(129, 129, 129, 0.1);
        border-radius: 10px;
        color: $main-text-color;
        outline: 0;
        margin: {
          top: 11px;
          left: 33px;
        }

        text-align: left;

        @media (max-width: $breakpoint-mobile) {
          width: 269px;
          border-radius: 5px;
          margin: {
            top: 17px;
            left: -14px;
          }
        }

        &:invalid {
          box-shadow: 0 0 15px 2px rgba(255, 17, 0, 0.747) inset;
        }

        &::placeholder {
          padding-left: none;
          border: none;
          color: rgba(255, 255, 255, 0.5);
          font: 15px 'OpenSans-LightItalic', sans-serif;
          text-align: center;
        }
      }

      .social {
        display: flex;
        width: 140px;
        justify-content: space-between;
        margin: {
          top: 40px;
          left: 35px;
        }

        @media (max-width: $breakpoint-mobile) {
          margin: {
            top: 44px;
            left: -3px;
          }
        }

        .twitter,
        .google,
        .facebook {
          display: inline-block;
          width: 30px;
          height: 26px;
          background: url('../images/social.png');
          color: transparent;
          cursor: pointer;
          transition: all 0.1s ease-in;

          &:hover {
            filter: brightness(200%);
          }
        }

        .google {
          margin-left: 19px;
          background: -65px initial;
        }

        .facebook {
          background: -110px initial;
        }
      }
    }
  }
}
