<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Bikes for gays!")
    link(rel="stylesheet" href="css/style.css")
    link(rel="shortcut icon" type="image/png" href="favicon.png")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="scripts/main.js")
    title Bikees.
  body
    .wrapper
      header.header
        .container
          span.menu-pic
          h1.logo
            a.logo-link(href="#" title="Link to the root of this site") Bikees
            span.dot .
          input(type="text" title="Search field").search
          span.search-icon
      main.content
        .bg-image-container
          .bg-hisper
            img(src="images/calque-5.jpg" alt="bike for hispers" width="100px" height="100px").bg-hisper-image
            .bg-hisper-gradient
          .bg-hippie
            img(src="images/calque-4.jpg" alt="bike for hippies" width="100px" height="100px").bg-hippie-image
            .bg-hippie-gradient
        .container
          section.hisper
            h3.hisper-header fixies
            h3.hisper-secondary Hisper style
            button.btn(type="button") Choisir son modèle
          section.hippie
            h3.hippie-header Cruisers
            h3.hippie-secondary Hippie style
            button.btn(type="button") Choisir son modèle
    footer.footer
      .container
        .copyright
          .text-block
            a(href="#" title="Link to the root of this site").text-block-header Bikees
              span.dot .
            p.payment paiement 100% securisé - données criptées et chifrées.
            a(href="#" target="_blank").free-shipping Livraison gratuite à partir de 50&euro; d'achat
            p.sign &copy;bikees.2015
        .wrap
          .nav
            .block1
              a.link(href="#" title="Fixies category") fixies
              a.link(href="#" title="Cruisers category") cruisers
              a.link(href="#" title="Accessoires category") accessoires
            .block2
              a.link(href="#" title="Mentions about us") mentions
              a.link(href="#" title="C.G.U") c.g.u
              a.link(href="#" title="Contact us!") contact
          section.newsletter
            h3.newsletter-header Inscription Newsletter
            input.email(type="text" title="Email field" placeholder="Saisissez votre adresse mail" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$")
            .social
              a(href="https://twitter.com" target="_blank").twitter Twitter
              a(href="https://plus.google.com" target="_blank").google Google+
              a(href="https://facebook.com" target="_blank").facebook Facebook