<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/style.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="scripts/main.js")
    title Bikees.
  body
    .wrapper
      header.header
        .container
          span.menu-pic
          span.logo Bikees
            span.dot .
          input(type="search").search
          span.search-icon
      main.content
        .bg-image-container
          .bg-hisper
            img(src="images/calque-5.jpg").bg-hisper-image
            .bg-hisper-gradient
          .bg-hippie
            img(src="images/calque-4.jpg").bg-hippie-image
            .bg-hippie-gradient
        .container
          section.hisper
            h1.hisper-header fixies
            h4.hisper-secondary Hisper style
            button.btn(type="button") Choisir son modèle
          section.hippie
            h1.hippie-header Cruisers
            h4.hippie-secondary Hippie style
            button.btn(type="button") Choisir son modèle
    footer.footer
      .container
        .copyright
          section.text-block
            h5.text-block-header Bikees
              span.dot .
            p.payment paiement 100% securisé - données criptées et chifrées.
            a(href="#" target="_blank").free-shipping Livraison gratuite à partir de 50&euro; d'achat
            p.sign &copy;bikees.2015
        .wrap
          .nav
            .block1
              a.link(href="#") fixies
              a.link(href="#") cruisers
              a.link(href="#") accessoires
            .block2
              a.link(href="#") mentions
              a.link(href="#") c.g.u
              a.link(href="#") contact
          section.newsletter
            h5.newsletter-header Inscription Newsletter
            input.email(type="email" placeholder="Saisissez votre adresse mail")
            .social
              a(href="#" target="_blank").twitter
              a(href="#" target="_blank").google
              a(href="#" target="_blank").facebook