<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/style.css")
    title Bikees.
  body
    .container
      header.header
        span.logo Bikees.
        span.search
      main.content
        section.hisper
          .bg-image
          h1.hisper-header fixies
          h4.hisper-secondary Hisper style
          button(type="button") Choisir son modèle
        section.hippie
          .bg-image
          h1.hippie-header Cruisers
          h4.hippie-secondary Hippie style
          button(type="button") Choisir son modèle
      footer.footer
        section.copyright
          h5.copyright-header
          p.payment paiment 146% securisé - données criptées et chifrées.
          p.free-shipping livraison gratuite à partir de 50&euro; d'achat
          p.copyright-sign &copy;bikees.2015
        .nav
          .block1
            p fixies
            p cruisers
            p accessoires
          .block2
            p mentions
            p c.g.u
            p contact
        section.newsletter
          h5.newsletter-header
          input.email(type="email" placeholder="Saisissez votre adresse mail")
          .social
            span.twitter
            span.google
            span.facebook